html, body, *, :before, :after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 border: 0 none;
 font-family: "Times New Romanx", serif;
 font-size: 14pt;
 color: #111;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
body {
  background-color: #ccc;
}
div.container {
  position: relative;
  margin: 3em auto;
  width: 210mm;
  max-width: 210mm;
  min-width: 130mm;
  background: #DDD;
  /*min-height: 10em; ??? */
  padding: 1em;
}

footer {
  clear: both;
  padding-top: 2em;
  text-align: right;
}
footer > div {
  font-family: Arial, sans-serif;
  font-size: 0.7em;
}
footer > div:first-child {
  float: left;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a.h1 {
  display: block;
  margin: 1em 0;
  border-radius: 1em;

  background: #8C001A; /*Burgundy;*/
  color: #DDD;

  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 2.5em;
}

div.ux {
  margin-bottom: 4em;
  border: 0 solid transparent;
  text-align: center;
  padding-right: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.ux > div {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 0px;
  margin: 0.1em;
  border-left: 1em solid #DDD;
  border-top: 1em solid #8C001A;
  border-bottom: 1em solid #8C001A;
  background-color: #8C001A;
  text-align: center;
}

div.ux > div:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 100%;
  top: -1em;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #8C001A;
}
div.ux > div > a {
  position: relative;
  top: -0.5em;
  color: #DDD;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1em;

  cursor: pointer;
  text-decoration: none;
}
div.ux > div:nth-child(1) {
  z-index: 99;
}
div.ux > div:nth-child(2) {
  z-index: 98;
}
div.ux > div:nth-child(3) {
  z-index: 97;
}
div.ux > div:nth-child(4) {
  z-index: 96;
}
div.ux > div:nth-child(5) {
  z-index: 93;
}
div.ux > div:nth-child(6) {
  z-index: 92;
}

/* 1  1.2  1.3  1.4  1.5
/* 3  7    11    14  17*/

@media (min-width: 260mm) and (max-width: 320mm) {
  /* scale(1.2);  14-17; 210->252 */
  html, body, *, :before, :after {
    font-size: 16pt;
  }
  div.container {
    width: 252mm;
    max-width: 252mm;
  }
}
@media (min-width: 320mm) and (max-width: 390mm) {
  /* scale(1.3); */
  html, body, *, :before, :after {
    font-size: 18pt;
  }
  div.container {
    width: 273mm;
    max-width: 273mm;
  }
}
@media (min-width: 390mm) and (max-width: 470mm) {
  /* scale(1.4); */
  html, body, *, :before, :after {
    font-size: 20pt;
  }
  div.container {
    width: 294mm;
    max-width: 294mm;
  }
}
@media (min-width: 470mm) and (max-width: 560mm) {
  /* scale(1.5); */
  html, body, *, :before, :after {
    font-size: 21pt;
  }
  div.container {
    width: 315mm;
    max-width: 315mm;
  }
}
@media (min-width: 560mm) {
  /* scale(1.6); */
  html, body, *, :before, :after {
    font-size: 22pt;
  }
  div.container {
    width: 336mm;
    max-width: 336mm;
  }
}

h1, h2, h3, h4, h5, h6,
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  margin: 0.7em 0 0.5em 0;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  font-size: 1em;
}
p {
  margin: 0.5em 0;
}

ul, ol {
  margin: 0.5em 0 0.5em 1.5em;
}
ul {
  margin-left: 0.3em;
}
ul li {
  position: relative;
  background: url(images/ball32.png) no-repeat left 0.1em;
  background-size: 0.9em;
  padding: 0 0 0 1.25em;
  list-style: none;
  vertical-align: middle;
}
li li {
  background: url(images/ball32.png) no-repeat left 0.25em;
  background-size: 0.7em;
  padding: 0 0 0 1.1em;
}

li a > span {
  display: block;
  font-size: 0.7em;
  white-space: nowrap;
}




div.expander > label {
  position: absolute;
  z-index: 1;
  left: 0em;
  top: 0.1em;
  width: 0.9em;
  height: 0.9em;
  border-radius: 0.45em;
  background-color: #8C001A;
  color: #DDD;
  text-align: center;
  font-weight: 900;
  color: #111;
  background-color: transparent;
}

input.expander {
  position: absolute;
  top: 0.3em;
  left: 0.2em;
  width: 0.5em;
  height: 0.5em;
  opacity: 0.01;
}

input.expander + div > label {
  transform: rotate(90deg);
}
input.expander:checked + div > label {
  transform: rotate(-90deg);
}

input.expander + div > ul {
  display: none;
}
input.expander:checked + div > ul {
  display: block;
}

div.expander > label > svg {
  position: relative;
  width: 100%;
  height: 100%;
}
polyline.expander {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #EEE;
  stroke-width: 25%;
  fill: none;
}
